*{
  outline: none;
  margin:auto;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: #ddca7e;
}

#formInput{
  color: black;
}

#nonexistingRoom{
  color: white;
}
#loginText{
  font-family: monospace;
  color: white;
  margin-top: 15px;
  padding-left: 1415px;
  position: fixed;
}

#Header{
  font-family: fantasy;
  color: white;
  background-color: black;
  padding-top: 50px;
  text-align: center;
  font-size: 100px;
}

#body{
  background-color: black;
}

#roomName{
  color: black;
}

#testing{
  color: white;
  text-align: center;
}

#roomCreation{
  text-align: center;
  color: white;
}

#line{
  color: white;
  background: transparent;
  border: none;
  position: fixed;
  margin-left: 1480px;
  top: 15px;
  z-index: 2;
}

#account, #signOut{
  color: white;
  transition: .5s;
  background: transparent;
  border: none;
  background-color: #111;
  left: 0;
  right: 0;
  top: 0px;
  text-align: right;
  padding: .2em;
  width: 100%;
}

#gameList{
  color: black;
}


#account:hover, #signOut:hover{
  color: #333;
  transition: .5s;
}

#roomButton{
  color: black;
}


#signInError{
  display: none;
  color: white;
}
